<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMSSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SMSSample.Properties.Settings>
            <setting name="SMSSample_br_com_byjg_www_SMSService" serializeAs="String">
                <value>http://www.byjg.com.br/site/webservice.php/ws/sms</value>
            </setting>
        </SMSSample.Properties.Settings>
    </applicationSettings>
</configuration>